asn1crypto==0.24.0
ca-certificates==2019.1.23
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
cryptography==2.6.1
html5lib==1.0.1
idna==2.8
isodate==0.6.0
keepalive==0.5
openssl==1.1.1b
pip==19.1.1
pycparser==2.19
pyopenssl==19.0.0
pyparsing==2.4.0
pysocks==1.7.0
python==3.7.3
rdflib==4.2.2000
requests==2.21.0
setuptools==41.0.1
six==1.12.0
sparqlwrapper==1.8.2000
sqlite==3.28.0
urllib3==1.24.2
vc==14.1
vs2015_runtime==14.15.26706
webencodings==0.5.1
wheel==0.33.4
win_inet_pton==1.1.0
wincertstore==0.2
xlrd==1.2.0
